@charset "utf-8";
/* CSS Document */

body
{
	
}


.icon
{
	width:200px;
	position:absolute;
	height:200px;
	top:40px;
	border-radius:100px;
	border-style:none;
	transition:background-color 1s, opacity 1s;
	
}
.icon:hover
{
	background-color:#000;
	opacity:0.6;
}
.launch
{
	border-style:none;
	height:30px;
	width:120px;
	border-radius:6px;
	color:#000;
	transition:background 1s, opacity 1a;
	font-family:"Courier New", Courier, monospace;
	background-color:transparent;
	color:transparent;
}
.launch:hover
{
	background:#333;
	opacity:1;
	color:#FFF;
}